body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

#page-container {
  text-align: center;
}
#center-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#pet-image {
  height: 200px;
  width: 200px;
  border: black solid;
  border-width: 2.5px 1px 1px 2.5px;
}
#skills-container {
  border: black 1px solid;
  padding: 5px;
}
.progress-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.progress-bar {
  display: flex;
  justify-content: space-between;
  border: black 1px solid;
  margin: 5px;
}
.progress-square {
  height: 10px;
  width: 10px;
  margin: 1px;
}
.progress-square.filled {
  background-color: green;
}
#button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.action-button {
  margin-inline: 10px;
}
